* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-family: biomecha;
  color: #ffe8d6;
  overflow: auto;
}

#name {
  display: inline-block;
  font-size: 75px;
  background-color: #121212;
  border-radius: 15px;
  padding: 15px;
  border: solid #ffe8d6;
}

#title {
  display: inline-block;
  font-size: 25px;
}

#showcase {
  text-align: center;
  padding: 50vmin 0 50vmin 0;
  background-image: url(./img/1.jpg);
  background-size: cover;
  background-position: center;
}

#skills {
  text-align: center;
  height: 100vh;
  background-image: url(./img/2.jpg);
  background-size: cover;
  background-position: center;
}
#projects {
  text-align: center;
  margin: 0;
  padding: 50vh 0 50vh 0;

  background-image: url(./img/3.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  position: fixed;
  text-align: center;
  background-color: #121212;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: inherit;
  display: block;
  margin: 8px 22px 8px 22px;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 10px;
  border: solid #ffe8d6;
  border-width: 0 0 3px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #627d98;
  text-decoration: none;
}

.cent {
  padding-top: 50%;
}

.font {
  font-size: 20px;
}

.arrow {
  text-align: center;
  border: solid #ffe8d6;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  margin: 15px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@font-face {
  font-family: biomecha;
  src: url(RobotoMono.ttf);
}

.zoom {
  transition: transform 0.2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.grid-container {
  display: inline-grid;
  grid-gap: 5px;
}

.grid-item {
  margin-bottom: 15px;
  border-radius: 15px;
  background-color: #121212;
  text-align: center;
  padding: 5px;
  border: solid #ffe8d6;
}
